img{
    width:100px;
    height:89px;

}

*{
    text-align:center;
}
.change{
    width:120px;
    
}
.top {
    display: flex;
    align-items: center;
    justify-content: center;
}

table{
    background-color: #DE091B;
    border-spacing: 16px;
    border-radius: 15px;
}


td.drink{
    background-color : white;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.2s ease-in-out; /* 셀에 호버 효과*/
}

td.drink:hover{
    transform: scale(1.05); /* 호버 시 셀 크기 확대*/
}

.space{
    background-color: #DE091B;
}

.coca-image{
    width:400px;
    height:200px;
    display: flex;
    margin-top: -190px;
}